<h1>Liste des Blogs</h1>
<% @feeds.each_with_index do |feed,i| %>
  <h2><%= feed.name %></h2>
      <ul>
    <% @articles[i].each do |a| %>
        <li><%=a%></li>
    <% end %>
  </ul>
<% end %>



<br />

<%= link_to 'New Feed', new_feed_path %>
