<h1 class="page-header">Derniers articles des blogs du café</h1>
    <% @feeds.each do |feed| %>
      <%= render "feed_thumbnail", :feed => feed %>
    <% end %>


<% if user_signed_in? %>
<%= link_to 'New Feed', new_feed_path %>
   <%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Se connecter", "login" %>
<%end%>