<h1>Liste des Blogs</h1>
<% @feeds.each do |feed| %>
  <h2><%= feed.name %>(<%= feed.articles.size%>)</h2>
      <ul>
    <% feed.articles.sort_by{|el| el.published}.first(5).each do |a| %>
        <li><%=a.title%></li>
    <% end %>
  </ul>
<% end %>



<br />

<%= link_to 'New Feed', new_feed_path %>
